
*{
box-sizing: border-box;
}
body{
margin: 0;
padding: 0;
min-height: 100vh;
color: rgba(0,0,0,.87);
font-family: SoDoSans,Helvetica Neue,Helvetica,Arial,sans-serif;
line-height: 1.5;
letter-spacing: .01rem;
}

#navbar{
display: flex;
height: 10rem;
align-items: center;
justify-content: space-between;
box-shadow: 0 0 1px 2px rgba(128, 128, 128, 0.459);
}
#left , #right{
display: flex;
align-items: center;
height: 100%;
padding-right: 2rem;
}

.l-links,.r-links{
display: flex;
align-items: center;
height: 4rem;
padding: 0 1rem;
font-size: 1.3rem;
font-weight:600;
}
#logo img{
height: 3.5rem;
border-radius: 50%;
}
.l-links{
font-weight:700;
letter-spacing: .1rem;
height: 100%;
}

a{
text-decoration: none;
color: rgb(1, 19, 1);
}

.r-links button{
font-family: SoDoSans,Helvetica Neue,Helvetica,Arial,sans-serif;
letter-spacing: 0.05rem;
padding: .7rem 1.2rem;
border-radius: 1.2rem;
font-weight: 600;
font-size: 1.2rem;
}
.l-links:hover  a {
color:green;
transition: .2s ease-in-out;
}
#find-store{
font-weight: 600;
}
#find-store a:hover{
color: green;
transition: 0.2s ease-in-out;
}
#find-store i{
font-size: 1.4rem;
padding: 1rem;
}

#join-now button {
background-color: black;
color: white;
}
#join-now button:hover{
background-color: rgba(0, 0, 0, 0.81);
transition: all .2s ease-in-out;
}
#sign-in button{
border: none;
box-shadow: 0 0 1px 1px black;
background-color: white;
}
#sign-in button:hover{
background-color: rgba(128, 128, 128, 0.205);
transition: all .2s ease-in-out;
}


#cards-wrapper{
width: 100%;
}
.cards{
height: 80vh;
margin: 2rem 2.5rem;
display: flex;
/* border: 1px solid black; */
}
#card1{
background-color: #1e3932;
}
#card2{
background-color: #d50032;
}
#card3{
background-color: #00b388;
}

#card4{
background-color: #006241;
}
#card5{
background-color: #1e3932;
}
.img-div, .img-description{
width: 50%;
height: 100%;
/* border: 1px solid black; */
}
.img-div img{
height: 100%;
width: 100%;
}

.img-description{
display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
color: white;
padding: 0 5.5rem;
}
.img-description .heading{
text-align: center;
font-size: 4rem;
letter-spacing: .2rem;
font-weight: 600;
padding: 1rem 0;
}
.img-description .description{
font-size: 1.8rem;
text-align: center;
}
.img-description .img-button button{
border: none;
font-size: 1.2rem;
margin: 3rem;
padding: .4rem .8rem;
border-radius: 1rem;
background-color: inherit;
color: white;
box-shadow: 0 0 2px 1px white;
}

#card3 .heading , #card3 .description , #card3 .img-button button{
color: black;
}
#card3 .img-button button{
box-shadow: 0 0 2px 1px black;
}

#card4 , #card5{
height: 60vh;
}
#card4 .heading, #card5 .heading{
letter-spacing: normal;
font-size: 1.6rem;
}
#card4 .description , #card5 .description{
font-size: 1.2rem;
}
#card4 .img-button, #card5 .img-button{
font-size: 1rem;
}

.bottom-wrapper{
width: 100%;
}

#bottom1{
/* margin: 2rem 2.5rem; */
padding-bottom: 2rem;
font-size: 1rem;
font-weight: 600;
line-height: 1.5rem;
height: 45vh;
display: flex;
flex-direction: column;
align-items: center;
justify-content: space-between;
text-align: center;
border-bottom: 2px solid rgba(128, 128, 128, 0.459);
}
#bottom1 a{
text-decoration: underline;
}




footer{
width: 100%;
text-align: center;
padding: 2rem 0;
color: rgba(0, 0, 0, 0.443);
}
